:root{
    --primary-title-color:#212121;
    --accent-color:#2196F3;
    --primary-text-color:#757575;
    --white-color:#FFFFFF;
    --black-color: #000000;
    --backgroud-color:#2F303A;
    --hero-hover-color:#00008b;
    --background-button-color:#F5F4FA;
    --portfolio-background-color: #E5E5E5;
}

ul{
    list-style: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

*{ margin: 0; padding: 0; }

a{
    text-decoration: none;
}

body{
    font-family: Roboto, sans-serif;
    color: var(--primary-text-color);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: calc(24/14);
    letter-spacing: 0.03em;
}

.container{
    width: 1200px;
}

/*HEADER*/
.header{
    background:var(--white-color);
    border: 1px solid #ECECEC;
    height: 80px;
}

.header-logo{
    color:var(--accent-color);
    font-weight:700;
    font-size: 26px;
    line-height: 1.19;
    font-family: Raleway;    
    padding-top: 100px;

}

.header-list-link{
    display:flex; 
    justify-content:flex-start;   
    margin-left: 450px;
}

.header-link{
    color:var(--primary-title-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    margin-right: 57px;
    margin-bottom: 200px;
    
    
}

.header-link:hover,
.header-link:focus{
    color:var(--accent-color)
}

.current{
    color:var(--accent-color)
}

.header-list-contact{
    display:flex;
    justify-content: right;    
}

.header-item-contact-link{
    color:var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    margin-right: 50px;
}

.header-item-contact-link:hover,
.header-item-contact-link:focus{
    color:var(--accent-color)
}

/*Hero*/

.hero-section{
    background-color:var(--backgroud-color);
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hero-title{
    text-align: center;
    letter-spacing: 0.06em;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    color: var(--white-color);
}

.hero-button{
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color:var(--white-color);
    cursor: pointer;
    width: 200px;
    height: 50px;
    background: var(--accent-color);
    box-shadow: var(--accent-color);
    border-radius: 4px;
}

.hero-button:hover,
.hero-button:focus{
    background-color:var(--hero-hover-color);
}

/*FEATURES*/
.features-title{
    display: none;
}
.features{
    margin-top: 94px;
    margin-right: 215px;
    margin-left: 215px;
}

.features-list{
    display: flex;
    justify-content: center;      
}

.features-item-title{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    color:var(--primary-title-color);
}

.features-item-text{
    font-size: 14px;
    line-height: 1.71;
    margin-right:30px;
    display: flex;
    flex-wrap: wrap;
    padding-top: 10px;
    padding-right: 50px;
}

/*JOB*/

.job{
    margin-top: 192px;
    margin-bottom: 94px;
}

.job-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    color: var(--primary-title-color);
    text-align: center;
    margin-bottom: 50px;
}

.job-list{
    display: flex;
    justify-content: center;
}

.item-img{margin: 30px;}

/*TEAM*/

.team-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    color: var(--primary-title-color);
    text-align: center;
    margin-top: 94px;
    margin-bottom: 50px;
}

.team{
    background: #F5F4FA;
    height: 648px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  
}

.team-list{
    display: flex;
    justify-content: center;
}

.team-item-name{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    color: var(--primary-title-color);
}

.team-item-description{
    font-size: 16px;
    line-height: 1.18;
    
}

/*PORTFOLIO*/

.portfolio-filters-list{
    display: flex;
    justify-content: center;
    margin-top: 94px;
    margin-bottom: 50px;
}

.navigation-button{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    color:var(--black-color);
    cursor: pointer;
    background: var(--background-button-color);   
    width: 128px;
    height: 38px;
    left: 576px;
    margin-top: 174px;
    border-style: none;
    border-radius: 4px;
    margin-right: 8px;
}

.portfolio-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;  
}


.portfolio-list-item{
    margin: 30px;
    width: 25%;
    box-sizing: border-box; 
    border: 1px solid #E5E5E5;  
}

.navigation-button:hover,
.navigation-button:focus{
    background-color: var(--accent-color);
    color:var(--white-color)
}

.portfolio-list-header{
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--primary-title-color)
}

.portfolio-list-text{
    font-size: 16px;
    line-height: 1.87;
}

/*FOOTER*/

.footer{
    background-color:var(--backgroud-color);
    display: flex;
    flex-direction: column;
    padding-left: 215px;
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-logo{
    font-weight: 700;
    font-size: 26px;
    font-family: Raleway;
    color:  var(--accent-color);
    line-height: 1.19;
}

.footer-location{
    font-size: 14px;
    line-height: 1.71;
    text-decoration: none;
    font-style: normal;
    color: var(--white-color);
}

.footer-location:hover,
.footer-location:hover{
    color: var(--accent-color);
}

.footer-item-link{
    font-size: 14px;
    color: var(--white-color);
    opacity: .6;
    line-height: 1.71;
    text-decoration: none;
    font-style: normal;
}

.footer-item-link:hover,
.footer-item-link:focus{
    color: var(--accent-color);
}